*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Fundo neutro do app inteiro */
body {
  background: #f8f9fa;
}

/* O root não pode limitar largura */
#root {
  display: flex;
  flex-direction: column;
}